/* Media Query */
   
/* For Desktop */
@media only screen and (992px < width){
    .header{
        height: 100vh;
    }
    .header .head .dropdown ul li a{
        font-size: 15px;
    }
    .nextpage1{
        height: 100vh;
    }
}



/* For tablets */
@media only screen and (768px < width < 991px){
    .header{
        height: 85vh;
    }
    a, button{
        font-size: 13px;
    }
    .name h1{
        font-size: 27px;
        margin-top:3px;
    }
    .details .details-container{
        margin-left: 30px;
    }
    .details-image img{
        width: 190px;
        float: right;
        margin-right: 30px;
    } 
    .header .head .dropdown ul li a{
        font-size: 10px;
    }
    .nextpage1-container img{
        width:250px ;
        height: 180px; 
    }
    .nextpage1{
        height: 80vh;
    }
    .nextpage1-container h1{
        width: 150px;
    }
    .nextpage1-container{
        margin-top: 60px;
    }
    .nextpage2{
        height: 70vh;
    }
    .nextpage2{
        height: 60vh;
        background-color: #445069;
    }
    .location-container{
        margin-top: 55px;
    }
    .location-container iframe{
        width: 80%;
        height: 40vh;
    }
}



/* For Mobile Phones */
@media only screen and (0px < width < 767px){ 
    .header{
        height: 60vh;
    }
    .header .head .name{
        width: 100%;
    }
    .header .head .about{
        width: 50%;
    }
    .header .head .dropdown{
        width: 30%;
    }
    .header .head .signup{
        width: 20%;
    }
    a, button{
        font-size: 13px;
    }
    .details .details-container{
        margin-left: 15px;
    }
    .details-image img{
        width: 100px;
        float: right;
        margin-right: 15px;
    }
    .header .head .dropdown ul li{
        padding: 0%;
    }
    .header .head .dropdown ul li a{
        font-size: 10px;
    }
    .details .details-container h2{
        font-size: 30px;
    }
    .details .details-container p{
        font-size: 13px;
    }
    .details{
        top: 175px;
    }
    .header .head .name h1{
        text-align: center;
        width: 100%;
    }
    .nextpage1-container img{
        width:180px ;
        height: 150px; 
    }
    .nextpage1-container .div1, .div2, .div3, .div4{
        width: 50%;
        margin-bottom: 20px;
    }
    .nextpage1-container{
        margin-top: 50px;
    }
    .nextpage1{
        height: 65vh;
    }
    .nextpage1-container h1{
        margin-bottom: 10px;
        font-size: 18px;
    }
    .nextpage1-container h1{
        width: 130px;
    }
    .nextpage1-container{
        width: 90%;
        margin: 30px auto 0 auto;
    }
    .nextpage2{
        height: 50vh;
    }
    .nextpage2{
        height: 45vh;
        background-color: #445069;
    }
    .location-container{
        margin-top: 35px;
    }
    .location-container iframe{
        width: 80%;
        height: 30vh;
    }
}
